
<div class="box">
    
    <form action='result'>
        <div class="box1_1">
            <h1>Calculator</h1>
            <input type="number" name="number1" placeholder="Write your first number">
            <br>
            <br>
            <input type="number" name="number2" placeholder="Write your second number">
        </div>
        
        <div class="box1_2">
            <button type="submit" name="add">add</button>
            <button type="submit" name="substract">substract</button>
            <button type="submit" name="multiply">multiply</button>
            <button type="submit" name="divide">divide</button>
        </div>
        
    </form>
</div>


<style>
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1_1{
        margin-left: 25px;
        margin-bottom: 15px;
    }
</style>