
<div class="box">
    <h1>Calculator</h1>
    <form action='result'>
        <input type="number" name="number1" placeholder="Write your first number">
        <br>
        <br>
        <input type="number" name="number2" placeholder="Write your second number">
        <button type="submit" name="add">add</button>
        <button type="submit" name="substract">substract</button>
        <button type="submit" name="multiply">multiply</button>
        <button type="submit" name="divide">divide</button>
    </form>
</div>


<style>
    .box{
        margin: auto;
        width: 60%;
        background-color: red;
        padding: 10px;
    }
</style>